body {
  margin: 0;
  background: #000;
  color: #0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ascii-panda {
  font-size: 10px;
  line-height: 0.8;
  white-space: pre;
}

.label {
  margin-top: 2em;
  font-size: 12px;
  color: #033;
  opacity: 0.3;
}

